.pageContainer {
    display: flex;
    justify-content: center;
    align-items: start;
}

.dashboardContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 993px;
}

@media screen and (max-width: 992px) {
    .dashboardContainer {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}