.forgot-password-form {
    width: 400px;
    max-width: 100%;
}

.section-header {
    font-weight: bold;
    color: #03045E;
}

.login-link {
    text-decoration: none;
}

.login-text {
    text-align: center;
}

.main-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

@media (min-width: 0px) {
    .section-header {
        font-size: 2.2rem;
    }
}

@media (min-width: 1200px) {
    .section-header {
        font-size: 2.5rem;
    }

    button.custom-button {
        font-size: 1rem;
    }
}