.sectionHeader {
    font-weight: bold;
    color: #03045E;
}

.statusShipped {
    background-color: #00A21E;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    color: #fff;
}

.link {
    text-decoration: none;
    color: #03045E;
    font-weight: bold;
    position: relative;
}

.link:hover::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #03045E;
    bottom: -3px;
    animation: underlineAppear 0.3s ease-in-out forwards;
}

@keyframes underlineAppear {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}