body {
    font-family: 'Roboto', sans-serif;
    color: #343a40;
}

button.btn-custom {
    --bs-btn-color: #fff;
    --bs-btn-bg: #03045E;
    --bs-btn-border-color: #03045E;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #020356;
    --bs-btn-hover-border-color: #02034E;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #02034E;
    --bs-btn-active-border-color: #02034A;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #03045E;
    --bs-btn-disabled-border-color: #03045E;
}